@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

html {
    display: table;
    margin: 2em;
    background-color: rgb(230, 230, 230);
}

body {
    font-family: 'Sorts Mill Goudy', serif;
    margin: auto;
    max-width: 45em;
    border: 2px solid rgb(120, 110, 110);
    background-color: rgb(255, 250, 250);
    padding: 2em;
    filter: drop-shadow(.4em .4em 0 rgb(120, 110, 110));
}


/* mobile */
@media (max-width : 800px) {
    html { margin: 0 }
    body { padding: 1em }
}